
<h3 class="text-center">Most recent used cars Listing</h3>

<table class="table table-hover">
   <thead>
      <tr>
         <th>Manufacturer</th>
         <th>Country</th>
         <th>color</th>
         <th>year</th>
         <th>mileage</th>
      </tr>
   </thead>
   <tbody>
   <% @cars.each do |car| %>
      <tr>
         <td>car.manufacturer</td>
         <td>car.country</td>
         <td>car.color</td>
         <td>car.year</td>
         <td>car.mileage</td>
      </tr>
    <% end%>
   </tbody>
</table>

